#main {
   width: 60%;
   min-width: 300px;
   margin: auto;
   border-width: 5px;
   border-radius: 15px;
   border-style: solid;
   border-color: #019bc6;
   padding: 5%;
}

pre {
   overflow: auto;
   background-color: azure;
   padding: 1em;
}

button {
   margin: auto;
   padding: 10px;
   border-radius: 5px;
   display: block;
   width: 30%;
   text-decoration: none;
   text-align: center;
   color: white;
   background-color: blue;
}

#qrcode {
  margin: auto;
  max-width: 350px;
}

#loginform, #otpqr, #message, .contentbox {
  display: none;
}

#loading {
  display: block;
}
